<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElderCare</title>
    <link rel="icon" href="C:\projects\ElderCare\eldercare-management-tool\Public\Assets\Icons\butterfly_colored.png">
    <link rel="stylesheet" href="C:\projects\ElderCare\eldercare-management-tool\Public\Styles\home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+HU&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">
</head>

<body>

    <div id="navbar">
        <nav id="header">ElderCare</nav>
        <div id="butterfly"><img
                src="C:\projects\ElderCare\eldercare-management-tool\Public\Assets\Icons\butterfly_colored.png"
                alt="Butterfly" width="40px" height="40px"></div>
        <div id="navlinks">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="man_res.html">Residents</a></li>
                <li><a href="man_staff.html">Staff</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </div>

    <div id="hero">
        <center>
            <h1>Welcome to ElderCare</h1>
            <h5> A Management Tool for Elderly Homes</h5>
        </center>
    </div>
<div id="options">
<div id="residents" onclick="window.location.href='man_res.html';">
    <img src="C:\projects\ElderCare\eldercare-management-tool\Public\Assets\Icons\resident.png" alt="Residents" width="175px">
<h3>Manage Residents</h3>
</div>
<div id="staffs" onclick="window.location.href='man_staff.html';">
    <img src="C:\projects\ElderCare\eldercare-management-tool\Public\Assets\Icons\staffs.png" alt="Staffs" width="175px">
<h3>Manage Staffs</h3>
</div>
</div>
</body>

</html>