* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #FDEEEF;
}

#navbar {
    display: flex;
    font-family: "Playwrite HU", cursive;
    font-weight: 400;
    width: 100%;
    font-style: normal;
    background-color: #B0EACD;
}

#header {
    color: #EB8BA5;
    font-size: 40px;
    padding: 20px;
    display: inline-block;

}

#butterfly {
    position: absolute;
    left: 240px;
    top: 35px;
    display: inline-block;

}
#navlinks{
    position: absolute;
    left: 70%;
    top: 50px;
}
#navlinks li{
    display: inline;
    padding-left: 30px;
}
#navlinks a{
    color: #2D2D2D;
    text-decoration: none;
}
#navlinks a:hover{
    color: #EB8BA5;
}
#hero{
    margin-top: 20px;
    color: #3C3C3C;
    font-family: "Playwrite HU", cursive;
    font-weight: 400;
    font-style: normal;
}
#hero h5{
    color: #7C7C7C;
}
#options{
    font-family: "Playwrite HU", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    margin-top: 50px;
    justify-content:space-evenly;
    align-items:center;
    
}

#residents{
    width: 500px;
    height: 300px;
    background-color: #B0EACD;
    text-align: center;
    border-radius: 50px;
    border-width: 5px;
    border-color: #EB8BA5;
    border-style: solid;
    transition: transform 1s ease;
}
#residents:hover{
    cursor: pointer;
    transition: 2s ease;
    transform: scale(1.15);
}
#residents img{
     margin-top: 30px;
}
#staffs{
    width: 500px;
    height: 300px;
    background-color: #B0EACD;
    text-align: center;
    border-radius: 50px;
    border-width: 5px;
    border-color: #EB8BA5;
    border-style: solid;
    transition: transform 1s ease;
}
#staffs:hover{
    cursor: pointer;
    transition: 2s ease;
    transform: scale(1.15);
}
#staffs img{
     margin-top: 30px;
}
